.container {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
}

.containerData {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerData div {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 4px;
}

.button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  align-self: center;
}
